castor-agent/workspaces/[Castor] Sub-fluxo_ Get Reactivation List.json
{
  "name": "[Castor] Sub-fluxo_ Get Reactivation List",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonSchema",
        "jsonSchema": "{\"type\":\"object\",\"required\":[\"user_id\"],\"properties\":{\"user_id\":{\"type\":\"string\",\"description\":\"UUID do usuário autenticado\"},\"role\":{\"type\":\"string\",\"enum\":[\"admin\",\"vendedor\"]},\"limit\":{\"type\":\"integer\",\"default\":50,\"minimum\":1,\"maximum\":500},\"uf\":{\"type\":\"string\",\"description\":\"UF opcional para filtrar (SP, RJ, ...)\"},\"only_eligible\":{\"type\":\"boolean\",\"default\":true,\"description\":\"Se true, devolve apenas clientes elegíveis hoje (next_contact_at <= hoje ou nunca visitados)\"}}}"
      },
      "id": "c0300100-0000-0000-0000-000000000001",
      "name": "When called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const log = { tool: 'get_reactivation_list', input: $json, ts: new Date().toISOString() };\nconsole.log(JSON.stringify(log));\nreturn $input.all();"
      },
      "id": "c0300100-0000-0000-0000-000000000002",
      "name": "Log input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [200, 0]
    },
    {
      "parameters": {
        "jsCode": "// Apenas valida e monta parâmetros. A chamada HTTP ao snapshot vai no nó HTTP Request seguinte\n// para evitar o timeout de 60s do task runner do Code node.\nconst PANEL_BASE = 'https://longflatworm-n8n.cloudfy.live/webhook';\nconst input = $json || {};\nconst userId = String(input.user_id || '');\nconst limit = Math.max(1, Math.min(500, +input.limit || 50));\nconst uf = input.uf ? String(input.uf).trim().toUpperCase() : '';\nconst onlyEligible = input.only_eligible !== false;\nconst url = PANEL_BASE + '/castor-panel-snapshot' + (userId ? '?userId=' + encodeURIComponent(userId) : '');\nreturn [{ json: { user_id: userId, limit, uf, only_eligible: onlyEligible, url } }];"
      },
      "id": "c0300100-0000-0000-0000-000000000003",
      "name": "Prepare params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 280000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "c0300100-0000-0000-0000-000000000004",
      "name": "Fetch snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const params = $('Prepare params').first().json;\nconst resp = $json || {};\nif (resp.error && !resp.ok) {\n  return [{ json: { ok: false, data: [], error: 'snapshot_failed: ' + (resp.error.message || resp.error) } }];\n}\nif (!resp || resp.ok === false) {\n  return [{ json: { ok: false, data: [], error: 'snapshot_failed: ' + ((resp && resp.error) || 'snapshot indisponivel') } }];\n}\nconst snap = resp.data || {};\nconst limit = params.limit, uf = params.uf, onlyEligible = params.only_eligible;\nconst today = new Date(); today.setUTCHours(0,0,0,0);\nconst rows = [];\nfor (const c of (snap.clientes || [])) {\n  const isReact = (typeof c.elegivel_reativacao === 'boolean') ? c.elegivel_reativacao : (c.a1_ustatus === '2');\n  if (!isReact) continue;\n  const lf = c.last_feedback || null;\n  if (lf && lf.outcome === 'convertido') continue;\n  let elegivel = true, daysLeft = null;\n  if (lf && lf.next_contact_at) {\n    const nxt = new Date(String(lf.next_contact_at).slice(0,10) + 'T00:00:00Z');\n    const diff = Math.ceil((nxt.getTime() - today.getTime()) / 86400000);\n    if (diff > 0) { elegivel = false; daysLeft = diff; }\n  }\n  if (onlyEligible && !elegivel) continue;\n  if (uf && (c.a1_est || '').toUpperCase() !== uf) continue;\n  rows.push({\n    cliente_codigo: c.cliente_codigo,\n    a1_cod: c.a1_cod, a1_loja: c.a1_loja,\n    a1_nome: c.a1_nome, a1_nreduz: c.a1_nreduz,\n    a1_cgc: c.a1_cgc,\n    a1_mun: c.a1_mun, a1_est: c.a1_est,\n    a1_tel: c.a1_tel, a1_email: c.a1_email,\n    a1_vend: c.a1_vend, vendedor_nome: c.vendedor_nome,\n    porte_efetivo: c.porte_efetivo, porte_origem: c.porte_origem,\n    faturamento_12m: c.faturamento_12m,\n    ticket_medio_12m: c.ticket_medio_12m,\n    pedidos_12m: c.pedidos_12m,\n    ultimo_pedido: c.ultimo_pedido,\n    dias_sem_pedido: c.dias_sem_pedido,\n    ultima_visita: lf ? lf.visited_at : null,\n    proximo_contato: lf ? lf.next_contact_at : null,\n    elegivel_agora: elegivel,\n    days_until_recall: daysLeft\n  });\n}\nrows.sort((a,b) =>\n  (b.faturamento_12m || 0) - (a.faturamento_12m || 0) ||\n  (b.pedidos_12m || 0) - (a.pedidos_12m || 0) ||\n  String(a.cliente_codigo).localeCompare(String(b.cliente_codigo))\n);\nfor (let i = 0; i < rows.length; i++) rows[i].priority_rank = i + 1;\nconst sliced = rows.slice(0, limit);\nreturn [{ json: { ok: true, data: sliced, error: null, meta: { total: rows.length, returned: sliced.length, source: 'snapshot', generated_at: snap.generated_at } } }];"
      },
      "id": "c0300100-0000-0000-0000-000000000005",
      "name": "Filter & respond",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0]
    }
  ],
  "pinData": {},
  "connections": {
    "When called": {
      "main": [[{ "node": "Log input", "type": "main", "index": 0 }]]
    },
    "Log input": {
      "main": [[{ "node": "Prepare params", "type": "main", "index": 0 }]]
    },
    "Prepare params": {
      "main": [[{ "node": "Fetch snapshot", "type": "main", "index": 0 }]]
    },
    "Fetch snapshot": {
      "main": [[{ "node": "Filter & respond", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "Castor" }]
}
