castor-agent/workspaces/Castor-Panel-CRM.json
{
  "name": "Castor-Panel-CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "castor-panel-feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "26efdd65-2abc-4055-bd2e-4d6bfc849fbc",
      "name": "Webhook - Feedback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        54592,
        41856
      ],
      "webhookId": "castor-panel-feedback"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst out = {\n  user_id: String(body.user_id || ''),\n  cliente_codigo: String(body.cliente_codigo || '').trim(),\n  outcome: String(body.outcome || '').trim(),\n  custom_days: (body.custom_days !== undefined && body.custom_days !== null && body.custom_days !== '') ? +body.custom_days : null,\n  notes: body.notes ? String(body.notes) : null,\n  idempotency_key: body.idempotency_key ? String(body.idempotency_key) : null\n};\nif (!out.user_id) return [{ json: { ok: false, error: 'user_id obrigatorio' } }];\nif (!out.cliente_codigo) return [{ json: { ok: false, error: 'cliente_codigo obrigatorio' } }];\nif (!['negativo','voltar_depois','convertido'].includes(out.outcome)) return [{ json: { ok: false, error: 'outcome invalido' } }];\nreturn [{ json: Object.assign({ ok: true }, out) }];"
      },
      "id": "3ca38a1c-1da9-4bcd-97cf-2657889c58dd",
      "name": "Validate Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        54816,
        41856
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c090fb1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "86f4d8ad-dfe2-4edd-b7ff-94a878486400",
      "name": "Feedback valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        55040,
        41856
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET LOCAL role TO authenticated;\nSET LOCAL request.jwt.claim.sub TO '{{ $json.user_id }}';\nSELECT to_jsonb(castor_register_visit_feedback(\n  '{{ $json.cliente_codigo.replace(/'/g, \"''\") }}',\n  '{{ $json.outcome }}',\n  {{ $json.custom_days === null ? 'NULL' : $json.custom_days }},\n  {{ $json.notes === null ? 'NULL' : \"'\" + $json.notes.replace(/'/g, \"''\") + \"'\" }},\n  {{ $json.idempotency_key === null ? 'NULL' : \"'\" + $json.idempotency_key.replace(/'/g, \"''\") + \"'\" }}\n)) AS row;",
        "options": {}
      },
      "id": "173a222e-7336-449c-91c6-dc8dd9a624d5",
      "name": "Insert Feedback",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        55248,
        41776
      ],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try { const sd = $getWorkflowStaticData('global'); for (const k of Object.keys(sd)) { if (k.startsWith('snapshot_')) sd[k] = null; if (k.endsWith('_at')) sd[k] = 0; } } catch (e) {}\nconst row = $input.first().json && ($input.first().json.row || $input.first().json);\nreturn [{ json: { ok: true, data: row, error: null } }];"
      },
      "id": "3cba9fc2-4add-46b0-b80f-cef649958eb0",
      "name": "Wrap Feedback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        55472,
        41776
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "0c4aae2b-4abe-4cd5-b052-6a3c76c598a3",
      "name": "Respond Feedback OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        55696,
        41776
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: false, data: null, error: $json.error || 'invalid input' } }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "cbedbd96-a901-426b-b26d-ca1883fd6e02",
      "name": "Respond Feedback Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        55248,
        42016
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "castor-panel-interaction-add",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1a5b8bb3-bdc3-4449-b3ac-52a03d7c897a",
      "name": "Webhook - interaction-add",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        51856,
        44512
      ],
      "webhookId": "c33f12a1-c2eb-408b-898f-c167e239ded1"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst ALLOWED_OUTCOMES = ['visitou','sem_contato','convertido','voltar_depois','negativo','aguardando_resposta','pedido_em_negociacao','nao_existe_mais','nao_interessado_permanente'];\nconst ALLOWED_TYPES = ['visita_presencial','telefone','whatsapp','email','reuniao_online','outro'];\nconst out = {\n  user_id: String(body.user_id || ''),\n  cliente_codigo: String(body.cliente_codigo || '').trim(),\n  interaction_type: String(body.interaction_type || '').trim(),\n  outcome: body.outcome ? String(body.outcome).trim() : null,\n  notes: body.notes ? String(body.notes) : null,\n  next_contact_at: body.next_contact_at ? String(body.next_contact_at).trim() : null,\n  next_days: (body.next_days !== undefined && body.next_days !== null && body.next_days !== '') ? +body.next_days : null,\n  next_action: body.next_action ? String(body.next_action) : null,\n  route_id: body.route_id ? String(body.route_id) : null,\n  idempotency_key: body.idempotency_key ? String(body.idempotency_key) : null\n};\nif (!out.user_id) return [{ json: { ok:false, error:'user_id obrigatorio' } }];\nif (!out.cliente_codigo) return [{ json: { ok:false, error:'cliente_codigo obrigatorio' } }];\nif (!ALLOWED_TYPES.includes(out.interaction_type)) return [{ json: { ok:false, error:'interaction_type invalido' } }];\nif (out.outcome !== null && !ALLOWED_OUTCOMES.includes(out.outcome)) return [{ json: { ok:false, error:'outcome invalido' } }];\nif (out.next_contact_at !== null && !/^\\d{4}-\\d{2}-\\d{2}$/.test(out.next_contact_at)) return [{ json: { ok:false, error:'next_contact_at deve ser YYYY-MM-DD' } }];\nreturn [{ json: Object.assign({ ok:true }, out) }];"
      },
      "id": "192531dd-b10c-443f-a880-32f5d9239251",
      "name": "Validate interaction-add",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        52080,
        44512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "iad0c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07a10e82-1c0c-4ed5-b661-a5682f58fe34",
      "name": "interaction-add valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        52304,
        44512
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT castor_client_interaction_add(\n  '{{ $json.user_id }}'::uuid,\n  '{{ $json.cliente_codigo.replace(/'/g, \"''\") }}',\n  '{{ $json.interaction_type }}',\n  {{ $json.outcome ? \"'\" + $json.outcome + \"'\" : 'NULL' }},\n  {{ $json.notes ? \"'\" + $json.notes.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.next_contact_at ? \"'\" + $json.next_contact_at + \"'::date\" : 'NULL' }},\n  {{ $json.next_days === null ? 'NULL' : $json.next_days }},\n  {{ $json.next_action ? \"'\" + $json.next_action.replace(/'/g, \"''\") + \"'\" : 'NULL' }},\n  {{ $json.route_id ? \"'\" + $json.route_id + \"'::uuid\" : 'NULL' }},\n  {{ $json.idempotency_key ? \"'\" + $json.idempotency_key.replace(/'/g, \"''\") + \"'\" : 'NULL' }}\n) AS row;",
        "options": {}
      },
      "id": "3e63ab6d-cae5-434c-9307-3088511526d6",
      "name": "PG: interaction-add",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        52448,
        44336
      ],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json && ($input.first().json.row !== undefined ? $input.first().json.row : $input.first().json);\nreturn [{ json: { ok:true, data:r, error:null } }];"
      },
      "id": "2fd9a4c4-9d46-4fb7-8da9-06a41c294913",
      "name": "Wrap interaction-add",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        52672,
        44336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "0c739e6a-314c-49a0-adc5-5fd2dc4cbe61",
      "name": "Respond interaction-add OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        52896,
        44336
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok:false, data:null, error: $json.error || 'invalid input' } }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "cc17960d-f23e-451e-ba43-4f3095c1d7ff",
      "name": "Respond interaction-add Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        52512,
        44640
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "castor-panel-interaction-list",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b81e6cb2-975a-4fc0-b69a-8c183692b08f",
      "name": "Webhook - interaction-list",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        54576,
        44864
      ],
      "webhookId": "57ab168c-759c-46b8-8cfb-78489a85fd0d"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst out = {\n  user_id: String(body.user_id || ''),\n  cliente_codigo: String(body.cliente_codigo || '').trim(),\n  limit: (body.limit !== undefined && body.limit !== null && body.limit !== '') ? +body.limit : 50\n};\nif (!out.user_id) return [{ json: { ok:false, error:'user_id obrigatorio' } }];\nif (!out.cliente_codigo) return [{ json: { ok:false, error:'cliente_codigo obrigatorio' } }];\nreturn [{ json: Object.assign({ ok:true }, out) }];"
      },
      "id": "3f15d842-673b-4c08-9af6-636a82940cc1",
      "name": "Validate interaction-list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        54800,
        44864
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ils0c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c488998e-5e2b-4188-bede-039c60b0dbb6",
      "name": "interaction-list valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        55024,
        44864
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(jsonb_agg(t), '[]'::jsonb) AS row FROM castor_client_interaction_list(\n  '{{ $json.user_id }}'::uuid,\n  '{{ $json.cliente_codigo.replace(/'/g, \"''\") }}',\n  {{ $json.limit }}\n) t;",
        "options": {}
      },
      "id": "68cb798a-723e-4077-82c7-94c503bb5a16",
      "name": "PG: interaction-list",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        55232,
        44784
      ],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json && ($input.first().json.row !== undefined ? $input.first().json.row : $input.first().json);\nreturn [{ json: { ok:true, data:r, error:null } }];"
      },
      "id": "4d355a93-5a6a-485d-b290-83d5f84370d4",
      "name": "Wrap interaction-list",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        55456,
        44784
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "d2cfb9de-3a8b-417a-a1ae-a77fc89f45c2",
      "name": "Respond interaction-list OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        55680,
        44784
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok:false, data:null, error: $json.error || 'invalid input' } }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "e99c0936-9039-4475-b193-ff65572ee482",
      "name": "Respond interaction-list Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        55232,
        45152
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "castor-panel-pending-followups",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4085b80d-08a1-4f35-a220-5a90e42f38c7",
      "name": "Webhook - pending-followups",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        54640,
        46032
      ],
      "webhookId": "e5fbe735-a1f2-4744-bf69-e518b48ce282"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst out = {\n  user_id: String(body.user_id || ''),\n  days_ahead: (body.days_ahead !== undefined && body.days_ahead !== null && body.days_ahead !== '') ? +body.days_ahead : 7,\n  limit: (body.limit !== undefined && body.limit !== null && body.limit !== '') ? +body.limit : 100\n};\nif (!out.user_id) return [{ json: { ok:false, error:'user_id obrigatorio' } }];\nreturn [{ json: Object.assign({ ok:true }, out) }];"
      },
      "id": "15d0e84b-30bb-449d-bd6e-36e2e6ad7db3",
      "name": "Validate pending-followups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        54864,
        46032
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "pfu0c1",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "78a8cbb1-39b7-44b5-8480-04fbcfc9375e",
      "name": "pending-followups valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        55088,
        46032
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(jsonb_agg(t), '[]'::jsonb) AS row FROM castor_client_pending_followups(\n  '{{ $json.user_id }}'::uuid,\n  {{ $json.days_ahead }},\n  {{ $json.limit }}\n) t;",
        "options": {}
      },
      "id": "a92d61e7-8ceb-45c0-ad63-846427769788",
      "name": "PG: pending-followups",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        55312,
        45872
      ],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json && ($input.first().json.row !== undefined ? $input.first().json.row : $input.first().json);\nreturn [{ json: { ok:true, data:r, error:null } }];"
      },
      "id": "095766ea-0fa3-4898-838f-42a6a91acf12",
      "name": "Wrap pending-followups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        55536,
        45872
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "2615ed6b-eb86-47cc-953a-849fc0b796d6",
      "name": "Respond pending-followups OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        55760,
        45872
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok:false, data:null, error: $json.error || 'invalid input' } }}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "5a89811e-ccfb-43a5-855c-84fc4374cea6",
      "name": "Respond pending-followups Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        55296,
        46176
      ]
    },
    {
      "parameters": {
        "content": "## Castor Panel API — CRM / Follow-ups\n\nInterações (add/list), fila de próximos contatos (pending follow-ups) e feedback de visita.\n\nGerado a partir de Castor-Panel-API (split por domínio). Paths inalterados.",
        "height": 220,
        "width": 420,
        "color": 6
      },
      "id": "sticky-castor-panel-crm",
      "name": "Sticky — Castor-Panel-CRM",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        51376,
        41776
      ]
    }
  ],
  "connections": {
    "Webhook - Feedback": {
      "main": [
        [
          {
            "node": "Validate Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Feedback": {
      "main": [
        [
          {
            "node": "Feedback valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feedback valid?": {
      "main": [
        [
          {
            "node": "Insert Feedback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Feedback Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Feedback": {
      "main": [
        [
          {
            "node": "Wrap Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap Feedback": {
      "main": [
        [
          {
            "node": "Respond Feedback OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - interaction-add": {
      "main": [
        [
          {
            "node": "Validate interaction-add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate interaction-add": {
      "main": [
        [
          {
            "node": "interaction-add valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "interaction-add valid?": {
      "main": [
        [
          {
            "node": "PG: interaction-add",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond interaction-add Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: interaction-add": {
      "main": [
        [
          {
            "node": "Wrap interaction-add",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap interaction-add": {
      "main": [
        [
          {
            "node": "Respond interaction-add OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - interaction-list": {
      "main": [
        [
          {
            "node": "Validate interaction-list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate interaction-list": {
      "main": [
        [
          {
            "node": "interaction-list valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "interaction-list valid?": {
      "main": [
        [
          {
            "node": "PG: interaction-list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond interaction-list Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: interaction-list": {
      "main": [
        [
          {
            "node": "Wrap interaction-list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap interaction-list": {
      "main": [
        [
          {
            "node": "Respond interaction-list OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - pending-followups": {
      "main": [
        [
          {
            "node": "Validate pending-followups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate pending-followups": {
      "main": [
        [
          {
            "node": "pending-followups valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pending-followups valid?": {
      "main": [
        [
          {
            "node": "PG: pending-followups",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond pending-followups Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG: pending-followups": {
      "main": [
        [
          {
            "node": "Wrap pending-followups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap pending-followups": {
      "main": [
        [
          {
            "node": "Respond pending-followups OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  }
}